@charset "utf-8";
@media screen and (min-width: 641px) {
    .gw-footer {
        width: 100%;
        background: #2e3033;
        .footer-website {
            border: 1px solid #2e3033;
            padding: 30px 0 0;
            .website-columns {
                max-width: 1180px;
                margin: 0 auto;
                font-size: 0;
                text-align: center;
                border-bottom: 1px solid #45484c;
                padding-left: 10px;
                padding-right: 10px;
                .columns {
                    display: inline-block;
                    vertical-align: top;
                    text-align: left;
                    width: 21.5%;
                    margin-bottom: 20px;
                    color: #f00;
                    word-break: break-all;
                    white-space: normal;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    .columns-logo {
                        padding-left: 30px;
                        img {
                            width: 80%;
                        }
                        a {
                            max-width: 110px;
                            margin-top: 30px;
                            padding: 7px 0px;
                            text-align: center;
                            font-size: 14px;
                            color: #ddd;
                            display: block;
                            border: 1px solid #fff;
                            border-radius: 2px;
                            &:hover {
                                border: 1px solid #999;
                            }
                        }
                    }
                    &>img {
                        width: 180px;
                    }
                    h3 {
                        margin-bottom: 15px;
                        font-size: 14px;
                        color: #fff;
                        font-weight: 400;
                    }
                    i {
                        position: absolute;
                        right: 15px;
                        color: #fff;
                        font-size: 14px;
                        top: 0px;
                        display: none;
                    }
                    ul {
                        li {
                            line-height: 26px;
                            font-size: 12px;
                            color: #ccc;
                            display: block;
                            a {
                                font-size: 12px;
                                color: #ccc;
                                display: block;
                            }
                        }
                    }
                }
                .weixin-img{
                    text-align: center;
                    h3{
                        color: #fff;
                        padding: 0;
                        margin: 0;
                    }
                    img{
                        width: 100px;
                    }
                }
                .columns-list {
                    width: 18%;
                }
            }
        }
        .footer-blogroll {
            background: #2e3033;
            text-align: left;
            .blogroll-inner {
                margin: 0 auto;
                max-width: 1180px;
                position: relative;
                span {
                    color: #ccc;
                    line-height: 40px;
                }
                a {
                    color: #ccc;
                    line-height: 40px;
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .gw-footer {
        width: 100%;
        background: #2e3033;
        .footer-website {
            padding-top: 30px;
            .website-columns {
                margin: 0 20px;
                border-top: 1px solid #393C40;
                .columns {
                    color: #fff;
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 45px;
                    position: relative;
                    border-bottom: 1px solid #393C40;
                    h3 {
                        font-size: 14px;
                        color: #fff;
                        font-weight: 400;
                    }
                    i {
                        position: absolute;
                        right: 15px;
                        color: #fff;
                        font-size: 14px;
                        top: 0px;
                    }
                    ul {
                        li {
                            line-height: 32px;
                            font-size: 12px;
                            color: #ccc;
                            display: block;
                            padding-left: 10px;
                            a {
                                font-size: 12px;
                                color: #ccc;
                                display: block;
                            }
                        }
                    }
                }
                .column-img{
                    display: none;
                }
                .operation-mobile {
                    height: 100px;
                    text-align: center;
                    padding: 20px 0px;
                    a {
                        display: block;
                        border: 1px solid #fff;
                        color: #FFFFFF;
                        border-radius: 2px;
                        line-height: 42px;
                        text-align: center;
                        padding-left: 0;
                        font-size: 15px;
                        &:active{
                            border: 1px solid #179D83;
                        }
                    }
                }
            }
        }
        .blogroll-img {
            display: none;
        }
    }
}