@media screen and (min-width: 641px) {
  .gw-footer {
    width: 100%;
    background: #2e3033; }
    .gw-footer .footer-website {
      border: 1px solid #2e3033;
      padding: 30px 0 0; }
      .gw-footer .footer-website .website-columns {
        max-width: 1180px;
        margin: 0 auto;
        font-size: 0;
        text-align: center;
        border-bottom: 1px solid #45484c;
        padding-left: 10px;
        padding-right: 10px; }
        .gw-footer .footer-website .website-columns .columns {
          display: inline-block;
          vertical-align: top;
          text-align: left;
          width: 21.5%;
          margin-bottom: 20px;
          color: #f00;
          word-break: break-all;
          white-space: normal;
          overflow: hidden;
          text-overflow: ellipsis; }
          .gw-footer .footer-website .website-columns .columns .columns-logo {
            padding-left: 30px; }
            .gw-footer .footer-website .website-columns .columns .columns-logo img {
              width: 80%; }
            .gw-footer .footer-website .website-columns .columns .columns-logo a {
              max-width: 110px;
              margin-top: 30px;
              padding: 7px 0px;
              text-align: center;
              font-size: 14px;
              color: #ddd;
              display: block;
              border: 1px solid #fff;
              border-radius: 2px; }
              .gw-footer .footer-website .website-columns .columns .columns-logo a:hover {
                border: 1px solid #999; }
          .gw-footer .footer-website .website-columns .columns > img {
            width: 180px; }
          .gw-footer .footer-website .website-columns .columns h3 {
            margin-bottom: 15px;
            font-size: 14px;
            color: #fff;
            font-weight: 400; }
          .gw-footer .footer-website .website-columns .columns i {
            position: absolute;
            right: 15px;
            color: #fff;
            font-size: 14px;
            top: 0px;
            display: none; }
          .gw-footer .footer-website .website-columns .columns ul li {
            line-height: 26px;
            font-size: 12px;
            color: #ccc;
            display: block; }
            .gw-footer .footer-website .website-columns .columns ul li a {
              font-size: 12px;
              color: #ccc;
              display: block; }
        .gw-footer .footer-website .website-columns .columns-list {
          width: 18%; }
    .gw-footer .footer-blogroll {
      background: #2e3033;
      text-align: left; }
      .gw-footer .footer-blogroll .blogroll-inner {
        margin: 0 auto;
        max-width: 1180px;
        position: relative; }
        .gw-footer .footer-blogroll .blogroll-inner span {
          color: #ccc;
          line-height: 40px; }
        .gw-footer .footer-blogroll .blogroll-inner a {
          color: #ccc;
          line-height: 40px;
          position: absolute;
          right: 0; } }
@media screen and (max-width: 640px) {
  .gw-footer {
    width: 100%;
    background: #2e3033; }
    .gw-footer .footer-website {
      padding-top: 30px; }
      .gw-footer .footer-website .website-columns {
        margin: 0 20px;
        border-top: 1px solid #393C40; }
        .gw-footer .footer-website .website-columns .columns {
          color: #fff;
          display: block;
          font-size: 14px;
          font-weight: 400;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 45px;
          position: relative;
          border-bottom: 1px solid #393C40; }
          .gw-footer .footer-website .website-columns .columns h3 {
            font-size: 14px;
            color: #fff;
            font-weight: 400; }
          .gw-footer .footer-website .website-columns .columns i {
            position: absolute;
            right: 15px;
            color: #fff;
            font-size: 14px;
            top: 0px; }
          .gw-footer .footer-website .website-columns .columns ul li {
            line-height: 32px;
            font-size: 12px;
            color: #ccc;
            display: block;
            padding-left: 10px; }
            .gw-footer .footer-website .website-columns .columns ul li a {
              font-size: 12px;
              color: #ccc;
              display: block; }
        .gw-footer .footer-website .website-columns .column-img {
          display: none; }
        .gw-footer .footer-website .website-columns .operation-mobile {
          height: 100px;
          text-align: center;
          padding: 20px 0px; }
          .gw-footer .footer-website .website-columns .operation-mobile a {
            display: block;
            border: 1px solid #fff;
            color: #FFFFFF;
            border-radius: 2px;
            line-height: 42px;
            text-align: center;
            padding-left: 0;
            font-size: 15px; }
            .gw-footer .footer-website .website-columns .operation-mobile a:active {
              border: 1px solid #179D83; }
    .gw-footer .blogroll-img {
      display: none; } }

/*# sourceMappingURL=footer.css.map */
