@charset "utf-8";
.bgTranSparent {
    background: transparent !important;
}

@media screen and (min-width: 641px) {
    .header {
        width: 100%;
        background: #111; //#435A78
        .header-logo {
            background: #435A78;
            .navigation-inner {
                position: relative;
                max-width: 1200px;
                min-width: 320px;
                margin: 0 auto;
                font-size: 0;
                height: 51px;
                .logo {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 8.91%;
                    height: 45px;
                    a {
                        cursor: pointer;
                        height: auto;
                        img {
                            width: auto;
                            height: 30px;
                            line-height: 30px;
                            position: relative;
                            top: 10px;
                        }
                    }
                }
                .operation {
                    font-size: 0;
                    text-align: right;
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    .login-inner {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 0;
                        margin-right: 5px;
                        .login-text {
                            display: inline-block;
                            height: 30px;
                            line-height: 30px;
                            padding-left: 10px;
                            padding-right: 10px;
                            position: relative;
                            top: 10px;
                            color: #fff;
                            font-size: 12px;
                            border-radius: 2px;
                            &:hover {
                                text-decoration: underline;
                                background: #111;
                            }
                        }
                    }
                    .qc-btn {
                        display: inline-block;
                        vertical-align: middle;
                        color: #fff;
                        font-size: 14px;
                        padding: 0 20px;
                        line-height: 26px;
                        position: relative;
                        top: 10px;
                        overflow: visible;
                        cursor: pointer;
                        border: 1px solid #fff;
                        text-align: center;
                        border-radius: 2px;
                        transition: background-color .15s;
                    }
                    .link-mc {
                        border-color: #fff;
                        border-color: rgba(255, 255, 255, .2);
                        font-size: 12px;
                        &:hover {
                            background: #1AB394;
                        }
                    }
                    .phone-inner {
                        font-size: 14px;
                        color: #fa7821;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 24px;
                        position: relative;
                        top: 10px;
                        i {
                            color: white;
                            font-size: 16px;
                            position: relative;
                            top: 1px;
                        }
                    }
                }
                .menu-btn {
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 10px;
                    height: 100%;
                    i {
                        display: inline-block;
                        padding-right: 10px;
                        width: 37px;
                        color: white;
                        font-size: 37px;
                        cursor: pointer;
                    }
                }
            }
        }
        .header-nav {
            background: #2E425D;
            .categories {
                z-index: 999;
                position: relative;
                max-width: 1200px;
                min-width: 320px;
                margin: 0px auto;
                font-size: 0;
                height: 49px;
                ul.menu {
                    font-size: 0;
                    height: 100%;
                    li {
                        font-size: 16px;
                        color: #fff;
                        display: inline-block;
                        position: relative;
                        list-style: none;
                        height: 100%;
                        transition: background 0s ease-in 0.1s, color 0s ease-out 0s;
                    }
                    .presentation {
                        h2 {
                            font-weight: 400;
                            margin: 0;
                            a {
                                color: #fff;
                                display: inline-block;
                                vertical-align: middle;
                                padding: 0 15px;
                                color: #fff;
                                font-size: 14px;
                                -webkit-transition: background-color .4s;
                                transition: background-color .4s;
                                outline: 0;
                            }
                            i {
                                position: absolute;
                                right: 15px;
                                color: #fff;
                                font-size: 14px;
                                top: 0px;
                                display: none;
                            }
                        }
                        &:hover {
                            background: #213045;
                            color: #179d83;
                            .menu-list {
                                display: block;
                            }
                            h2 a {
                                //                              background: #213045;
                                color: #179d83;
                            }
                        }
                        ul.menu-list {
                            margin-top: 4px;
                            padding-top: 10px;
                            padding-bottom: 20px;
                            display: none;
                            position: absolute;
                            background-color: #213045;
                            left: 0;
                            min-width: 100%;
                            box-sizing: border-box;
                            text-align: left;
                            /* z-index: 100; */
                            &>li {
                                font-weight: 400;
                                display: block;
                                padding: 0 40px 0 25px;
                                line-height: 40px;
                                list-style: none;
                                width: auto;
                                position: relative;
                                &>a {
                                    color: #fff;
                                    font-size: 14px;
                                    white-space: nowrap;
                                    line-height: 30px;
                                    &:hover {
                                        color: #179d83;
                                    }
                                }
                                &>i {
                                    position: absolute;
                                    right: 10px;
                                    color: #fff;
                                    font-size: 14px;
                                    top: 0px;
                                    display: none;
                                }
                                ul.second-menu {
                                    margin: 0;
                                    padding: 0;
                                    li {
                                        width: 100%;
                                        a {
                                            i {
                                                clear: both;
                                                font-size: 16px;
                                                color: #fff;
                                                padding: 0px 10px 0px 15px;
                                            }
                                            span {
                                                color: #ddd;
                                                font-size: 14px;
                                            }
                                        }
                                        &:hover {
                                            background: #16212F;
                                            a span {
                                                color: #179d83;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .onemenu-list {
                            padding: 0 10px;
                            &>li {
                                padding: 0px 20px !important;
                                cursor: pointer;
                                &:hover {
                                    background: #16212F;
                                    a{
                                        color: #179d83;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .header {
        width: 100%;
        background: #111; //#435A78
        .navigation-inner {
            position: relative;
            max-width: 1200px;
            min-width: 320px;
            margin: 0 auto;
            font-size: 0;
            height: 51px;
            .logo {
                display: inline-block;
                vertical-align: middle;
                margin-right: 8.91%;
                height: 45px;
                a {
                    cursor: pointer;
                    height: auto;
                    img {
                        width: auto;
                        height: 31px;
                        line-height: 31px;
                        position: relative;
                        top: 10px;
                        left: 10px;
                    }
                }
            }
            .operation {
                font-size: 0;
                text-align: right;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                .login-inner {
                    display: none;
                    vertical-align: middle;
                    font-size: 0;
                    margin-right: 5px;
                    .login-text {
                        display: inline-block;
                        height: 31px;
                        line-height: 31px;
                        padding-left: 10px;
                        padding-right: 10px;
                        position: relative;
                        top: 10px;
                        color: #fff;
                        font-size: 12px;
                        border-radius: 2px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .qc-btn {
                    display: none;
                    vertical-align: middle;
                    color: #fff;
                    font-size: 14px;
                    padding: 0 20px;
                    line-height: 26px;
                    position: relative;
                    top: 10px;
                    overflow: visible;
                    cursor: pointer;
                    border: 1px solid #fff;
                    text-align: center;
                    border-radius: 2px;
                    transition: background-color .15s;
                }
                .link-mc {
                    border-color: #fff;
                    border-color: rgba(255, 255, 255, .2);
                    font-size: 12px;
                    &:hover {
                        background: #1AB394;
                    }
                }
                .phone-inner {
                    display: none;
                }
            }
            .menu-btn {
                position: absolute;
                top: 0;
                right: 10px;
                //              top: 5px;
                height: 100%;
                i {
                    display: inline-block;
                    text-align: center;
                    width: 37px;
                    color: white;
                    font-size: 30px;
                    padding-top: 4px;
                    cursor: pointer;
                }
            }
        }
        .categories {
            z-index: 999;
            background-color: #16171A;
            ul.menu {
                font-size: 0;
                li {
                    font-size: 14px;
                    color: #fff;
                    vertical-align: middle;
                    position: relative;
                    list-style: none;
                    border-bottom: 1px solid #2B2B2E;
                }
                .presentation {
                    line-height: 50px;
                    position: relative;
                    h2 {
                        font-weight: 400;
                        margin: 0;
                        a {
                            color: #fff;
                            display: block;
                            font-size: 14px;
                            font-weight: 400;
                            padding-left: 20px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            line-height: 45px;
                        }
                        i {
                            position: absolute;
                            right: 15px;
                            color: #fff;
                            font-size: 14px;
                            top: 0px;
                        }
                    }
                }
                ul.menu-list {
                    font-weight: 300;
                    text-transform: none;
                    background-color: #202124;
                    min-width: 100%;
                    box-sizing: border-box;
                    text-align: left;
                    &>li {
                        font-weight: 400;
                        display: block;
                        padding: 0 40px 0 25px;
                        line-height: 45px;
                        list-style: none;
                        width: auto;
                        position: relative;
                        border-bottom: 0px solid #2B2B2E;
                        border-top: 1px solid #2B2B2E;
                        box-sizing: border-box;
                        &>a {
                            color: #fff;
                            font-size: 14px;
                            white-space: nowrap;
                            line-height: 30px;
                            &:hover {
                                color: #179d83;
                            }
                        }
                        &>i {
                            position: absolute;
                            right: 15px;
                            color: #fff;
                            font-size: 14px;
                            top: 0px;
                        }
                        ul.second-menu {
                            margin: 0;
                            padding: 0;
                            li {
                                padding-right: 10px;
                                border-width: 0;
                                a {
                                    i {
                                        clear: both;
                                        font-size: 16px;
                                        color: #fff;
                                        padding: 0px 10px 0px 15px;
                                    }
                                    span {
                                        color: #ddd;
                                        font-size: 14px;
                                    }
                                }
                                &:hover {
                                    a span {
                                        color: #179d83;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .operation-mobile {
                height: 60px;
                text-align: center;
                padding: 20px 20px 0px;
                a {
                    display: block;
                    border: 1px solid #fff;
                    color: #FFFFFF;
                    border-radius: 2px;
                    line-height: 36px;
                    text-align: center;
                    padding-left: 0;
                    font-size: 15px;
                }
            }
            .login-mobile {
                text-align: center;
                height: 80px;
                padding-top: 25px;
                a {
                    color: #aaa;
                    line-height: 35px;
                    font-size: 15px;
                }
            }
        }
    }
}