

    <div data-page="Video" class="page" id="Video">
<div class="navbar">
    <div class="navbar-inner">
        <div class="center sliding title">实时视频</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="iconfont icon-caidan"></i></a>
        </div>
    </div>
</div>        
        <div id="Video_content_ref" class="page-content pull-to-refresh-content" data-ptr-distance="55">
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>
            <div class="list-block accordion-list list-page" style="margin:0;">
                <ul id="Video_tree"></ul>
            </div>
        </div>
    </div>
